<header>
  <div class="wrapper">
    <img [src]="logoUrl" alt={{title}} title={{title}}>
    <!-- <input [(ngModel)]="search" type="text" placeholder="find task..."/> -->
    <app-nav></app-nav>
    <ul>
      <li><a routerLink="/user"><i class="fas fa-user"></i></a></li>
      <span>or</span>
      <li><a (click)="logOut()" routerLink="/"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
  </div>
</header>