<section class="container">
  <h2 class="title">All Users</h2>
  <div class="add-box-btn">
    <button (click)="addUser()"><i class="fas fa-plus"></i></button>
  </div>
  <div class="col-10 item-list-box">
    <div class="item" *ngFor="let user of users">
      <div class="item-box">
        <div class="icon"><i class="fas fa-user"></i></div>
        <div>{{user.email}}</div>
        <div>Name: {{user.fullName}}</div>
        <div>Confirm: {{user.confirm}}</div>
        <div>Status: {{userRole[user.role]}} </div>
      </div>
      <div>
        <button mat-raised-button class="btn-del" (click)="deleteUser(user, user._id)"><i class="fas fa-trash-alt"></i></button>
      </div>
      <div>
        <button class="btn-edit" (click)="editUser(user)"><i class="fas fa-user-edit"></i></button>
      </div>
    </div>
  </div>
  <user-popup 
    class="popup" 
    *ngIf="showPopup" 
    [user]="user" 
    [showPopup]="showPopup" 
    [btnName]="btnName" 
    (closePopupEvt)="closePopup($event)"
  >
  </user-popup>
</section>
