h2 {
    text-align: center;
}

.add-box-btn {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    
    button {
        background: #7ed3b2;
        border: none;
        padding: 15px;
        border-radius: 50%;
        color: #f2f2f2;
        transition: .3s;

        &:hover {
            cursor: pointer;
            background: #b9e6d3;
        }
    }
}

.item-list-box {
    background-color: rgba(255, 218, 163, 0.26);
    width: 100%;
    margin: 30px auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;

    .item {
        position: relative;
        margin: 0px 5px 20px;
        background-color: white;
        max-width: 200px;
        width: 100%;
        height: 320px;
        text-align: center;
        border-radius: 20px;

        .item-box {
            margin-top: 80px;
            word-wrap: break-word;
        }

        div {
            margin-top: 10px;
        }

        i {
            font-size: 34px;
        }

        button {
            background: transparent;
            transition: .3s;
            border: none;
            border-radius: 50%;
            position: absolute;
            top: 20px;

            &:hover {
                cursor: pointer;
            }

            i {
                font-size: 18px;
            }
        }

        .btn-del {
            color: #ff0000;
            right: 20px;

            &:hover {
                color: #bc2525;
            }
        }

        .btn-edit {
            color: #0c005a;
            left: 20px;

            &:hover {
                color: #3a0088;
            }
        }
    }
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #062743;
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    border-radius: 20px;
}

button:focus, input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}