* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B1eYNZGrripnnry82/on-the-table-at-library-blurred-background_b0oedgtjl_thumbnail-full01.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
ul,ol {
    list-style-type: none;
}
  
.clearfix::before {
    content: '';
    display: table;
    clear: both;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}
.container {
    width: 100%;
    max-width: 768px;
    margin: 20px auto;
}

button, input {
    outline: none;
}
