.books {

    h2 {
        text-align: center;
    }
    
    .add-box-btn {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 10px auto;
        
        button {
            background: #7ed3b2;
            border: none;
            padding: 15px;
            border-radius: 50%;
            color: #f2f2f2;
            transition: .3s;
    
    
            &:hover {
                cursor: pointer;
                background: #b9e6d3;
            }
        }
    }
    
    .search {
        position: absolute;
        top: 20px;
        width: 300px;
        margin: auto;
        text-align: center;
    
    
        input {
            background-color: #ACACAC;
            width: 200px;
            height: 30px;
            text-indent: 20px;
            border-radius: 5px;
            border: none;
            transition: 0.3s;
        }
        
        input:focus {
            width: 300px;
        }
    
        input:focus ~ i {
            right: 10px;
        }
    
        i {
            position: absolute;
            right: 55px;
            top: 6px;
            font-size: 18px;
            transition: 0.3s;
        }
    }
    
    .item-list-box {
        position: relative;
        background-color: rgba(255, 218, 163, 0.26);
        margin: 30px auto;
        padding: 80px 30px 20px 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 20px;
    
        .item {
            position: relative;
            background-color: white;
            max-width: 200px;
            height: 320px;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 20px;
            
            .item-img {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border: none;
                height: 100%;
                max-height: 250px;
                overflow: hidden;
                outline: none;
    
                &:hover img {
                    transform: scale(1.1,1.1);
                }
        
                &:hover {
                    cursor: pointer;
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    transition: .8s;
                }
            }
    
            .item-descr {
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 20px;
    
                .item-title {
                    text-decoration: underline;
                    color: darkblue;
                    outline: none;
    
                    &:hover {
                        cursor: pointer;
                    }
                }
    
                .item-name {
                    height: 24px;
                    overflow: hidden;
                }
            }
    
            i {
                font-size: 34px;
            }
    
            button {
                background: transparent;
                transition: .3s;
                border: none;
                border-radius: 50%;
                position: absolute;
                bottom: 45px;
    
                &:hover {
                    cursor: pointer;
                }
    
                i {
                    font-size: 18px;
                }
            }
    
            .btn-del {
                color: #ff0000;
                right: 5px;
    
                &:hover {
                    color: #bc2525;
                }
            }
    
            .btn-edit {
                color: #0c005a;
                left: 5px;
    
                &:hover {
                    color: #3a0088;
                }
            }
        }
    }
}

.form-book {

    .form-box {
      width: 100%;
      max-width: 320px;
      margin: auto;
      text-align: center;
  
      .form-group {
        position: relative;
        margin-top: 20px;
  
        input[type="file"] {
          display: none;
        }
        
        .custom-file-upload {
          background-color: white;
          display: inline-block;
          width: 100%;
          transition: .3s;
          height: 40px;
          margin-bottom: 0px;
          
          &:hover {
            background-color: #d4d4d4;
            cursor: pointer;
          }
        
          i {
            position: absolute;
            font-size: 20px;
            top: 10px;
            left: 100px;
          }
        }
  
        input, .btn, select {
          width: 100%;
          outline: none;
          height: 40px;
          padding-left: 40px;
          border: 1px solid #d4d4d4;
        }
  
        .author-name {
          color: #d4d4d4;
          margin: 0;
        }
  
        .err {
          color: #ff0000;
        }
  
        .del-author {
          color:#ff0000;
          background-color: transparent;
          border: none;
  
          &:hover {
            cursor: pointer;
            color: #bc2525;
          }
        }
  
        input:focus {
          border: 1px solid #EBAE1F;
        }
  
        span {
          position: absolute;
          font-size: 20px;
          top: 5px;
          left: 10px;
        }
  
        .btn {
          background-color: #EBAE1F; 
          padding-left: 0;
          border: none;
          transition: .3s;
          color: black;
  
          &:hover {
              cursor: pointer;
              background-color: #F1C55F;
          }
        }
      }
      
      .success {
        color: #d4d4d4;
  
        i {
          color: green;
        }
      }
    }
  }

.text-center {
    text-align: center;

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
        
        li {
            display: inline;

            a {
                position: relative;
                float: left;
                padding: 6px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                color: #337ab7;
                background-color: #fff;
                border: 1px solid #ddd;
                margin-left: -1px;
            }
        }

        .active {
            display: inline;

            a {
                z-index: 3;
                color: #fff;
                background-color: #337ab7;
                border-color: #337ab7;
                cursor: default;
            }
        }
    }
}
