<section class="container">
  <h2 class="title">All Users</h2>
  <div class="item-list-box">
    <div class="item" *ngFor="let user of users">
      <div class="item-box">
        <div class="icon"><i class="fas fa-user"></i></div>
        <div>{{user.email}}</div>
        <div>Name: {{user.fullName}}</div>
        <div>Confirm: {{user.confirm}}</div>
        <div>Status: {{user.role}} </div>
      </div>
      <div>
        <button class="btn-del" (click)="deleteUser(user._id)"><i class="fas fa-trash-alt"></i></button>
      </div>
      <div>
        <button class="btn-edit" (click)="editUser(user)"><i class="fas fa-user-edit"></i></button>
      </div>
    </div>
    <div class="add-btn">
      <div>
        <button (click)="addUser()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
  </div>
  <app-popup class="popup" *ngIf="showPopup" [user]="user" [showPopup]="showPopup" [btnName]="btnName" (closePopupEvt)="closePopup($event)"></app-popup>
</section>
