h2 {
    text-align: center;
}

.item-list-box {
    background-color: rgba(255, 218, 163, 0.26);
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;

    .item {
        position: relative;
        margin-top: 30px;
        background-color: white;
        max-width: 200px;
        width: 100%;
        height: 320px;
        text-align: center;
        border-radius: 20px;
        

        .item-box {
            margin-top: 80px;
        }

        div {
            margin-top: 10px;
        }

        i {
            font-size: 34px;
        }

        button {
            background: transparent;
            transition: .3s;
            border: none;
            border-radius: 50%;
            position: absolute;
            top: 20px;

            &:hover {
                cursor: pointer;
            }

            i {
                font-size: 18px;
            }
        }

        .btn-del {
            color: #ff0000;
            right: 20px;

            &:hover {
                color: #bc2525;
            }
        }

        .btn-edit {
            color: #0c005a;
            left: 20px;

            &:hover {
                color: #3a0088;
            }
        }
    }

    .add-btn {
        position: relative;
        margin-top: 30px;
        max-width: 200px;
        width: 100%;
        height: 320px;

        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            button {
                background: #7ed3b2;
                border: none;
                padding: 20px;
                border-radius: 50%;
                color: #f2f2f2;
                transition: .3s;


                &:hover {
                    cursor: pointer;
                    background: #b9e6d3;
                }
            }
        }
    }
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #062743;
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    border-radius: 20px;
}