<section class="container">
  <form class="my-form " [formGroup]="myForm" novalidate (ngSubmit)="submit($event)" *ngIf="!success">
    <div class="form-box">
      <h3 class="title"><span>Register</span></h3>
      <div class="form-group" [class.has-error]="myForm.controls['fullName'].invalid && myForm.controls['fullName'].touched">
        <input
          formControlName="fullName"
          type="text"
          class="form-control"
          placeholder="Full Name" 
          id="fullName"
        >
        <span><i class="fas fa-user"></i></span>
        <p *ngIf="myForm.controls['fullName'].invalid && myForm.controls['fullName'].touched">
          Please enter only letters
        </p>
      </div>
      <div class="form-group" [class.has-error]="myForm.controls['email'].invalid && myForm.controls['email'].touched">
        <input
          formControlName="email"
          type="text"
          class="form-control"
          id="email"
          placeholder="Email" 
          [(ngModel)]="email"
        >
        <span><i class="fas fa-envelope"></i></span>
        <p *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
          Invalid email
        </p>
      </div>
      <div class="form-group" [class.has-error]="myForm.controls['password'].invalid && myForm.controls['password'].touched">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Password" 
          [(ngModel)]="password"
        >
        <span><i class="fas fa-unlock-alt"></i></span>
        <p *ngIf="myForm.controls['password'].invalid && myForm.controls['password'].touched">
          Password should contain at least one character and number
        </p>
      </div>
      <div class="form-group">
        <button
          [disabled]="myForm.invalid"
          type="submit"
          class="btn btn-success">
          Register
        </button>
      </div>
    </div>
  </form>
  <div class="my-form" *ngIf="success">
    <div class="form-box">
      <div class="success">You have successfully registered <i class="fas fa-check-circle"></i></div>
      <span>Please confirm entry</span>
    </div>
  </div>
</section>
