<div class="popup-box">
  <form class="my-form " [formGroup]="myForm" novalidate (ngSubmit)="submit(book._id)" *ngIf="!success">
    <div class="form-box">
      <div class="form-group">
        <label for="file-upload" class="custom-file-upload">
          <i class="fas fa-image"></i>
        </label>
        <input 
          id="file-upload" 
          type="file"
          formControlName="img"
          (change)="chooseImg($event)"
        >
      </div>
      <div class="form-group">
        <input
          formControlName="title"
          type="text"
          class="form-control"
          placeholder="Title" 
          [(ngModel)]="book.title"
        >
        <span><i class="fas fa-book"></i></span>
      </div>
      <div class="form-group"> 
        <select 
          formControlName="authors"
          (change)="chooseAuthor($event)"
        >
          <option *ngFor="let author of authors" [value]="author._id">{{author.name}}</option>
        </select>
        <span><i class="far fa-user"></i></span>
        <p class="err">{{err}}</p>
        <p class="author-name" *ngFor="let chooseAuthor of chooseAuthors; let i = index">
          {{chooseAuthor.name}}
          <button class="del-author" (click)="deleteAuthor(i)">
            <i class="far fa-times-circle"></i>
          </button>
        </p>
      </div>
      <div class="form-group"> 
        <select 
          formControlName="magazine"
        >
          <option value=""></option>
          <option 
            *ngFor="let magazine of magazines" 
            [value]="magazine._id" 
            [selected]="magazine.title == isMagazine"
          >
          {{magazine.title}}
        </option>
        </select>
        <span><i class="fas fa-book-open"></i></span>
      </div>
      <div class="form-group">
        <button
          [disabled]="myForm.invalid"
          type="submit"
          class="btn"
        >
          {{btnName}}
        </button>
      </div>
    </div>
  </form>
  <div class="my-form" *ngIf="success">
    <div class="form-box">
      <div class="success">Author has been {{btnName.toLowerCase()}} <i class="fas fa-check-circle"></i></div>
    </div>
  </div>
  <button class="btn-close" (click)="closePopup()"><i class="fas fa-times"></i></button>
</div>
