.my-form {

  .form-box {
    width: 100%;
    max-width: 320px;
    margin: auto;
    text-align: center;

    .form-group {
      position: relative;
      margin-top: 20px;

      input[type="file"] {
        display: none;
      }
      
      .custom-file-upload {
        background-color: white;
        display: inline-block;
        width: 100%;
        transition: .3s;
        height: 40px;
        margin-bottom: 0px;
        
        &:hover {
          background-color: #d4d4d4;
          cursor: pointer;
        }
      
        i {
          position: absolute;
          font-size: 20px;
          top: 10px;
          left: 100px;
        }
      }

      input, .btn, select {
        width: 100%;
        outline: none;
        height: 40px;
        padding-left: 40px;
        border: 1px solid #d4d4d4;
      }

      .author-name {
        color: #d4d4d4;
      }

      .err {
        color: #ff0000;
      }

      .del-author {
        color:#ff0000;
        background-color: transparent;
        border: none;

        &:hover {
          cursor: pointer;
          color: #bc2525;
        }
      }

      input:focus {
        border: 1px solid #EBAE1F;
      }

      span {
        position: absolute;
        font-size: 20px;
        top: 5px;
        left: 10px;
      }

      .btn {
        background-color: #EBAE1F; 
        padding-left: 0;
        border: none;
        transition: .3s;
        color: black;

        &:hover {
            cursor: pointer;
            background-color: #F1C55F;
        }
      }
    }
    
    .success {
      color: #d4d4d4;

      i {
        color: green;
      }
    }
  }
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #EBAE1F;
  background-color: transparent;
  border: none;
  transition: .3s;
    
  &:hover {
      cursor: pointer;
      color: #F1C55F
  }
}

button:focus, input:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
