$fa-font-path : "~@fortawesome/fontawesome-free-webfonts/webfonts";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B1eYNZGrripnnry82/on-the-table-at-library-blurred-background_b0oedgtjl_thumbnail-full01.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
ul,ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}

header {
    margin-bottom: 20px;
}

p {
    margin-bottom: 0px;
}
