.users{

    h2 {
        text-align: center;
    }
    
    .add-box-btn {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 10px auto;
        
        button {
            background: #7ed3b2;
            border: none;
            padding: 15px;
            border-radius: 50%;
            color: #f2f2f2;
            transition: .3s;
    
            &:hover {
                cursor: pointer;
                background: #b9e6d3;
            }
        }
    }
    
    .item-list-box {
        background-color: rgba(255, 218, 163, 0.26);
        width: 100%;
        margin: 30px auto;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 20px;
    
        .item {
            position: relative;
            margin: 0px 5px 20px;
            background-color: white;
            max-width: 200px;
            width: 100%;
            height: 320px;
            text-align: center;
            border-radius: 20px;
    
            .item-box {
                margin-top: 80px;
                word-wrap: break-word;
            }
    
            div {
                margin-top: 10px;
            }
    
            i {
                font-size: 34px;
            }
    
            button {
                background: transparent;
                transition: .3s;
                border: none;
                border-radius: 50%;
                position: absolute;
                top: 20px;
    
                &:hover {
                    cursor: pointer;
                }
    
                i {
                    font-size: 18px;
                }
            }
    
            .btn-del {
                color: #ff0000;
                right: 20px;
    
                &:hover {
                    color: #bc2525;
                }
            }
    
            .btn-edit {
                color: #0c005a;
                left: 20px;
    
                &:hover {
                    color: #3a0088;
                }
            }
        }
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #062743;
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    border-radius: 20px;
}

.my-form {

    .form-box {
        width: 100%;
        max-width: 320px;
        margin: auto;
        text-align: center;
  
        .form-group {
            position: relative;
            margin-top: 20px;
    
            input,button, select {
                width: 100%;
                outline: none;
                margin-top: 0;
                height: 40px;
                padding-left: 40px;
                border: 1px solid #d4d4d4;
            }
  
            input:focus {
                border: 1px solid #EBAE1F;
            }
    
            span {
                position: absolute;
                font-size: 20px;
                top: 5px;
                left: 10px;
            }
    
            .btn {
                background-color: #EBAE1F; 
                padding-left: 0;
                border: none;
                transition: .3s;
                color: black;
        
                &:hover {
                    cursor: pointer;
                    background-color: #F1C55F;
                }
            }
        }
  
        .success {
            color: #d4d4d4;
  
            i {
            color: green;
            }
        }
    }
}
  
.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #EBAE1F;
    background-color: transparent;
    border: none;
    transition: .3s;

    &:hover {
        cursor: pointer;
        color: #F1C55F
    }
}