.item {
    background-color: rgba(255, 218, 163, 0.26);
    position: relative;

    .item-box {
        display: flex;
        height: 100%;

        .item-img {
            margin: 30px; 

            img {
                width: 300px;
                height: auto;
            }
        }

        .item-descr {
            margin: 30px;

            .item-author-name {
                cursor: pointer;
                outline: none;
            }
        }
    }

    .item-magazine {
        position: absolute;
        bottom: 10px;
        left: 250px;
        
        span {
            position: absolute;
            left: -15px;
            bottom: 55px;
            color: rgb(0, 255, 0);
        }

        .magazine-img {
            
            img {
                width: 100%;
                max-width: 100px;
                height: auto;
            }
        }
    }
}