nav {

    ul {
        line-height: 3.2;
        display: flex;
        margin: 0px;

        li {
            transition: .3s;
            padding: 0 10px;
            outline: none;

            &:hover {
                cursor: pointer;
                background-color: #3C3C3C;
            }
            &:hover a {
                color: white;
            }

            a {
                transition: .3s;
                color:  #B4B4B4;
            }
        }

        .active {
            background-color: #3C3C3C;
        }
    }
}