<section class="container">
  <div class="item">
    <div class="item-box">
      <div class="item-img">
        <img src={{book.img}}>
      </div>
      <div class="item-descr">
        <div class="item-title">
          <h1>{{book.title}}</h1>
        </div>
        <div class="item-author">
          <p>by <span class="item-author-name" *ngFor="let author of book.authors" routerLink="/user/author/{{author._id}}"><strong>{{author.name}}; </strong> </span> </p>
        </div>
        <!-- <div class="item">
          
        </div> -->
      </div>
    </div>
    <div *ngIf="book.magazine">
      <div class="item-magazine" *ngFor="let magazine of book.magazine">
        <span><i class="fas fa-plus"></i></span>
        <div class="magazine-img">
          <img src={{magazine.img}}>
        </div>
      </div>  
    </div>
  </div>
</section>