<section class="container">
  <h2 class="title">Books</h2>
  <div class="add-box-btn">
    <button (click)="addBook()"><i class="fas fa-plus"></i></button>
  </div>
  <div class="col-10 item-list-box">
    <div class="search">
      <input 
        type="text" 
        placeholder="Find book"
        [(ngModel)]="searchValue"
        (keyup)="loadBooksBySearch($event)"
      />
      <i class="fas fa-search"></i>
      <p *ngIf='searchValue.length > 0 && booksLength > 0'>{{booksLength}} results for "{{searchValue}}"</p>
      <p *ngIf='searchValue.length > 0 && booksLength === 0'>
        Sorry, your search "{{searchValue}}" did not match any results. Please try again.
      </p>
    </div>
    <div class="item" *ngFor="let book of books | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: booksLength }">
      <div class="item-img" [routerLink]="book._id"> <img src={{book.img}}></div>
      <div class="item-descr">
        <div>
          <span class="item-title" [routerLink]="book._id">{{(book.title.length>15)? (book.title | slice:0:15)+'...' : (book.title)}}</span>
        </div>
        <div class="item-name">  
          <p *ngFor="let author of book.authors">
            <span>{{(author.name.length>20)? (author.name | slice:0:17)+'...' : (author.name)}}</span>
            <span *ngIf="book.authors.length > 1"> a.o.</span>
          </p>
        </div>
      </div>
      <div>
        <button mat-raised-button class="btn-del" (click)="deleteBook(book._id, book.title)"><i class="fas fa-trash-alt"></i></button>
      </div>
      <div>
        <button class="btn-edit" (click)="editBook(book)"><i class="fas fa-edit"></i></button>
      </div>
    </div>
  </div>
  <pagination-controls (click)="loadBooks(searchValue)" (pageChange)="currentPage = $event" class="paging"></pagination-controls>
  <book-popup 
    class="popup" 
    *ngIf="showPopup" 
    [book]="book"
    [showPopup]="showPopup" 
    [btnName]="btnName"
    (closePopupEvt)="closePopup($event)"
  >
  </book-popup>
</section>