<section class="container">
  <h2 *ngIf="noUser">No new users</h2>
  <h2 *ngIf="!noUser">Add new users: {{amountUsers}}</h2>
  <div class="item-list-box">
    <div class="item" *ngFor="let user of users; let i = index">
      <span>{{i+1}}. {{user.fullName}}</span>
      <span>{{user.email}}</span>
      <div class="box-btn">
          <span>Confirm: </span>
          <button class="btn-add" (click)="confirmUser(user._id)"><i class="fas fa-clipboard-check"></i></button>
          <button class="btn-del" (click)="deleteUser(user._id)"><i class="fas fa-user-minus"></i></button>
      </div>
    </div>
  </div>
</section>