.item-list-box {
    
    width: 100%;
    margin-top: 30px;
    //padding: 40px;
    display: flex;
    flex-direction: column;

    
    

    .item {
        background-color: rgba(255, 218, 163, 0.26);
        width: 100%;
        padding: 30px;
        border-radius: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        .box-btn {

            button {
                background-color: transparent;
                border: none;
                font-size: 20px;
                margin-right: 10px;

                &:hover {
                    cursor: pointer;
                }
            }

            .btn-add {
                color: #7ed3b2;
            }

            .btn-del {
                color: #ef6c57;
            }
        }
    }
}

h2 {
    text-align: center;
}