<section class="container">
  <h2 class="title">Authors</h2>
  <div class="add-box-btn">
    <button (click)="toggleShowAdd()"><i class="fas fa-plus"></i></button>
  </div>
  <div class="add-item" *ngIf="toggleAdd">
    <input
      type="text"
      class="inp"
      placeholder="Author" 
      [(ngModel)]="author.name"
    >
    <span><i class="fas fa-user"></i></span>
    <button class="add-btn" (click)="addAuthor()">Add</button>
  </div>
  <div class="item-list-box">
    <div class="item" *ngFor="let author of authors">
      <div class="item-descr" *ngIf="!(author._id === currentId)">Author:&nbsp;<span class="route" [routerLink]="author._id">{{author.name}}</span></div>
      <div class="item-descr" *ngIf="author._id === currentId">
        <input
          type="text"
          class="inp"
          placeholder="Author" 
          [(ngModel)]="author.name"
        >
        <button class="edit-btn" (click)="editAuthor(author)"><i class="far fa-check-circle"></i></button>
        <button class="back-btn" (click)="closeEdit()"><i class="fas fa-ban"></i></button>
      </div>
      <div>
        <button class="show-edit" (click)="toggleShowEdit(author._id)"><i class="fas fa-edit"></i></button>
        <button class="btn-del" (click)="deleteAuthor(author._id, author.name)"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
</section>