<section class="container">
  <div class="reg-container">
    <div class="reg-box">
      <button class="btn-log" routerLink="/auth/login">Log In</button>
      <span>or</span>
      <button class="btn-reg" routerLink="/auth/register">Register</button>
    </div>
  </div>
</section>
