.reg-container {
    background-color: rgba(255, 218, 163, 0.26);
    font-size: 22px;
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    transform: translate(-50%, -50%);
    border-radius: 20px;

    .reg-box {
        width: 100%;
        max-width: 320px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        a {
            color: #000;
            border-radius: 20px;
            background-color: transparent;
            transition: .3s;
            padding: 15px 30px;
            font-size: 20px;
            text-decoration: none;

            &:hover {
                cursor: pointer;
            }
        }

        .btn-log {
            border: 2px solid #1da1f2;

            &:hover {
                background-color: #009dff52;
            }
        }

        span {
            margin: 0 20px 0 20px;
        }

        .btn-reg {
            border: none;
            background-color: #1da1f2;

            &:hover {
                background-color: #107fc4;
            }
        }
    }
}

button:focus, input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}