<header>
  <div class="container">
    <img [src]="logoUrl" alt={{title}}>
    <nav>
      <ul>
        <li routerLinkActive="active" routerLink="/admin" [routerLinkActiveOptions]="{exact: true}"><a>Confirm</a></li>
        <li routerLinkActive="active" [routerLink]="'users'"><a>Users</a></li>
        <li routerLinkActive="active" [routerLink]="'books'" ><a>Books</a></li>
        <li routerLinkActive="active" [routerLink]="'author'" ><a>Authors</a></li>
        <li routerLinkActive="active" [routerLink]="'magazines'"><a>Magazines</a></li>
      </ul>
    </nav>
    <ul class="logout">
      <li><a (click)="logOut()" routerLink="/"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
  </div>
</header>