.my-form {

.form-box {
    width: 100%;
    max-width: 320px;
    margin: auto;
    text-align: center;

    .form-group {
    position: relative;
    margin-top: 20px;

    input,button, select {
        width: 100%;
        outline: none;
        margin-top: 0;
        height: 40px;
        padding-left: 40px;
        border: 1px solid #d4d4d4;
    }

    input:focus {
        border: 1px solid #EBAE1F;
    }

    span {
        position: absolute;
        font-size: 20px;
        top: 5px;
        left: 10px;
    }

    .btn {
        background-color: #EBAE1F; 
        padding-left: 0;
        border: none;
        transition: .3s;
        color: black;

        &:hover {
            cursor: pointer;
            background-color: #F1C55F;
        }
    }
    }

    .success {
    color: #d4d4d4;

    i {
        color: green;
    }
    }
}
}

.btn-close {
position: absolute;
top: 20px;
right: 20px;
font-size: 24px;
color: #EBAE1F;
background-color: transparent;
border: none;
transition: .3s;

&:hover {
    cursor: pointer;
    color: #F1C55F
}
}

button:focus, input:focus {
box-shadow: none;
border: none;
outline: none;
}