<div class="popup-box">
  <form class="my-form " [formGroup]="myForm" novalidate (ngSubmit)="submit(user._id)" *ngIf="!success">
    <div class="form-box">
      <div class="form-group">
        <input
          formControlName="fullName"
          type="text"
          class="form-control"
          placeholder="Full Name" 
          value={{user.fullName}}
        >
        <span><i class="fas fa-user"></i></span>
      </div>
      <div class="form-group">
        <input
          formControlName="email"
          type="text"
          class="form-control"
          placeholder="Email" 
          value={{user.email}}
        >
        <span><i class="fas fa-envelope"></i></span>
      </div>
      <div class="form-group">
        <button
          [disabled]="myForm.invalid"
          type="submit"
          class="btn">
          Edit
        </button>
      </div>
    </div>
  </form>
  <div class="my-form" *ngIf="success">
    <div class="form-box">
      <div class="success">User has been edit <i class="fas fa-check-circle"></i></div>
    </div>
  </div>
  <button class="btn-close" (click)="closePopup()"><i class="fas fa-times"></i></button>
</div>
