header {
    background-color: #69696994;
    color: #B4B4B4;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: auto;
            height: 50px;
        }

        nav {

            ul {
                line-height: 3.2;
                display: flex;
                margin: 0px;
        
                li {
                    transition: .3s;
                    outline: none;
                    margin: 0px;
        
                    &:hover {
                        cursor: pointer;
                        background-color: #3C3C3C;
                    }
                    &:hover a {
                        color: white;
                        text-decoration: none;
                    }
        
                    a {
                        display: inline-block;
                        padding: 0 10px;
                        transition: .3s;
                        color:  #B4B4B4;
                    }

                    .active {
                        background-color: #3C3C3C;
                    }
                }
            }
        }
    
        .logout {
            display: flex;
            margin: 0px;
            
            button {
                background: transparent;
                border: none;
                margin: 0 10px;
    
                i {
                    color:white;
                    transition: .3s;
    
                    &:hover {
                        cursor: pointer;
                        color: #B4B4B4;
                    }
                }
            }
        }
    }
}