h2 {
    text-align: center;
}

.add-box-btn {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    
    button {
        background: #7ed3b2;
        border: none;
        padding: 15px;
        border-radius: 50%;
        color: #f2f2f2;
        transition: .3s;


        &:hover {
            cursor: pointer;
            background: #b9e6d3;
        }
    }
}

.search {
    position: absolute;
    top: 20px;
    width: 300px;
    margin: auto;
    text-align: center;


    input {
        background-color: #ACACAC;
        width: 200px;
        height: 30px;
        text-indent: 20px;
        border-radius: 5px;
        border: none;
        transition: 0.3s;
    }
    
    input:focus {
        width: 300px;
    }

    input:focus ~ i {
        right: 10px;
    }

    i {
        position: absolute;
        right: 55px;
        top: 6px;
        font-size: 18px;
        transition: 0.3s;
    }
}

.item-list-box {
    position: relative;
    background-color: rgba(255, 218, 163, 0.26);
    margin-top: 30px;
    padding: 30px 30px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;

    .item {
        position: relative;
        background-color: white;
        max-width: 200px;
        height: 320px;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 20px;
        
        .item-img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border: none;
            height: 100%;
            max-height: 250px;
            overflow: hidden;
            outline: none;

            &:hover img {
                transform: scale(1.1,1.1);
            }
    
            &:hover {
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
                transition: .8s;
            }
        }

        .item-descr {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 20px;

            .item-title {
                text-decoration: underline;
                color: darkblue;
                outline: none;

                &:hover {
                    cursor: pointer;
                }
            }

            .item-name {
                height: 20px;
                overflow: hidden;
            }
        }

        i {
            font-size: 34px;
        }

        button {
            background: transparent;
            transition: .3s;
            border: none;
            border-radius: 50%;
            position: absolute;
            bottom: 45px;

            &:hover {
                cursor: pointer;
            }

            i {
                font-size: 18px;
            }
        }

        .btn-del {
            color: #ff0000;
            right: 5px;

            &:hover {
                color: #bc2525;
            }
        }

        .btn-edit {
            color: #0c005a;
            left: 5px;

            &:hover {
                color: #3a0088;
            }
        }
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #062743;
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    border-radius: 20px;
}

button:focus, input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}