<section class="container">
  <h2 class="title">Magazines</h2>
  <div class="add-box-btn">
    <button (click)="addMagazine()"><i class="fas fa-plus"></i></button>
  </div>
  <div class="item-list-box">
    <div class="item" *ngFor="let magazine of magazines">
      <div class="item-img"> <img src={{magazine.img}}></div>
      <div class="item-descr">
        <div>
          <span class="item-title">{{(magazine.title.length>15)? (magazine.title | slice:0:15)+'...' : (magazine.title)}}</span>
        </div>
        <div class="item-publisher">  
          <span>{{magazine.publisher}}</span>
        </div>   
      </div>
      <div>
        <button mat-raised-button class="btn-del" (click)="deleteMagazine(magazine._id, magazine.title)"><i class="fas fa-trash-alt"></i></button>
      </div>
      <div>
        <button class="btn-edit" (click)="editMagazine(magazine)"><i class="fas fa-edit"></i></button>
      </div>
    </div>
  </div>
  <magazine-popup 
    class="popup"
    *ngIf="showPopup" 
    [magazine]="magazine"
    [showPopup]="showPopup" 
    [btnName]="btnName"
    (closePopupEvt)="closePopup($event)"
  >
  </magazine-popup>
</section>
