header {
    background-color: #69696994;
    color: #B4B4B4;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: auto;
            height: 50px;
        }

        nav {

            ul {
                line-height: 3;
                display: flex;
        
                li {
                    transition: .3s;
                    padding: 0 10px;
                    outline: none;
        
                    &:hover {
                        cursor: pointer;
                        background-color: #3C3C3C;
                    }
                    &:hover a {
                        color: white;
                    }
        
                    a {
                        transition: .3s;
                        color:  #B4B4B4;
                    }
                }
        
                .active {
                    background-color: #3C3C3C;
                }
            }
        }
    
        ul {
            display: flex;
            
            li {
                margin: 0 10px;
    
                a {
                    color:white;
                    transition: .3s;
    
                    &:hover {
                        color: #B4B4B4;
                    }
                }
            }
        }
    }
}