<header>
  <div class="wrapper">
    <img [src]="logoUrl" alt={{title}} title={{title}}>
    <!-- <input [(ngModel)]="search" type="text" placeholder="find task..."/> -->
    <nav>
      <ul>
        <li routerLinkActive="active" routerLink="/admin" [routerLinkActiveOptions]="{exact: true}"><a>Confirm</a></li>
        <li routerLinkActive="active" [routerLink]="'books'" ><a>Books</a></li>
        <li routerLinkActive="active" [routerLink]="'users'"><a>Users</a></li>
      </ul>
    </nav>
    <ul>
      <li><a (click)="logOut()" routerLink="/"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
  </div>
</header>