.user-form {
    background-color: rgba(255, 218, 163, 0.26);
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    border-radius: 20px;

    .item-box {
        width: 100%;
        max-width: 320px;
        margin: auto;
        text-align: center;
        word-wrap: break-word;

        .icon {
            font-size: 50px;
        }

        div {
            margin: 10px auto;
        }
        .form-group {
            position: relative;
            margin-top: 20px;
      
            input,button, select {
                width: 100%;
                outline: none;
                margin-top: 0;
                height: 40px;
                padding-left: 40px;
                border: 1px solid #d4d4d4;
            }
      
            input:focus {
                border: 1px solid #EBAE1F;
            }
      
            span {
                position: absolute;
                font-size: 20px;
                top: 5px;
                left: 10px;
            }
        }
        .btn-pass {
            background-color: #EBAE1F; 
            padding-left: 0;
            border: none;
            transition: .3s;
            color: black;
            width: 100%;
            height: 40px;
  
            &:hover {
                cursor: pointer;
                background-color: #F1C55F;
            }
        }
        
        button {
            background: transparent;
            transition: .3s;
            border: none;
            outline: none;
        }

        .btn-edit {
            color: #0c005a;
            left: 20px;
            font-size: 20px;

            &:hover {
                cursor: pointer;
                color: #3a0088;
            }
        }  
    }

    .password {
        width: 135px;
        margin-top: 20px;

        p {
            text-decoration: underline;
            color: darkblue;
            outline: none;

            &:hover {
                cursor: pointer;
            }
        }            
    }
}
