<div class="popup-box">
  <form class="my-form " [formGroup]="myForm" novalidate (ngSubmit)="submit(magazine._id)" *ngIf="!success">
    <div class="form-box">
      <div class="form-group">
        <label for="file-upload" class="custom-file-upload">
          <i class="fas fa-image"></i>
        </label>
        <input 
          id="file-upload" 
          type="file"
          formControlName="img"
          (change)="chooseImg($event)"
        >
      </div>
      <div class="form-group">
        <input
          formControlName="title"
          type="text"
          class="form-control"
          placeholder="Title" 
          [(ngModel)]="magazine.title"
        >
        <span><i class="fas fa-signature"></i></span>
      </div>
      <div class="form-group"> 
        <input
          formControlName="publisher"
          type="text"
          class="form-control"
          placeholder="Editor-in-chief" 
          [(ngModel)]="magazine.publisher"
        >
        <span><i class="far fa-user"></i></span>
      </div>
      <div class="form-group">
        <button
          [disabled]="myForm.invalid"
          type="submit"
          class="btn"
        >
          {{btnName}}
        </button>
      </div>
    </div>
  </form>
  <div class="my-form" *ngIf="success">
    <div class="form-box">
      <div class="success">Magazine has been {{btnName.toLowerCase()}} <i class="fas fa-check-circle"></i></div>
    </div>
  </div>
  <button class="btn-close" (click)="closePopup()"><i class="fas fa-times"></i></button>
</div>
