<section class="container">
    <h2 class="title">{{author.name}}</h2>
    <div class="item-list-box">
      <div *ngIf="!(books.length > 0)">{{author.name}} hasn't book</div>
      <div class="item" *ngFor="let book of books">
        <div class="item-img" [routerLink]="['/user/books', book._id]"> <img src={{book.img}}></div>
        <div class="item-descr">
          <div>
            <span class="item-title" [routerLink]="['/user/books', book._id]">{{(book.title.length>15)? (book.title | slice:0:15)+'...' : (book.title)}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>