h2 {
    text-align: center;
}

.item-list-box {
    position: relative;
    background-color: rgba(255, 218, 163, 0.26);
    margin-top: 30px;
    padding: 80px 30px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;

    .item {
        position: relative;
        background-color: white;
        max-width: 200px;
        height: 300px;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 20px;
        
        .item-img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border: none;
            height: 100%;
            max-height: 250px;
            overflow: hidden;
            outline: none;

            &:hover img {
                transform: scale(1.1,1.1);
            }
    
            &:hover {
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
                transition: .8s;
            }
        }

        .item-descr {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 20px;

            .item-title {
                text-decoration: underline;
                color: darkblue;
                outline: none;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

button:focus, input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}