.register {

  .my-form {
    background-color: rgba(255, 218, 163, 0.26);
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  
    .form-box {
        width: 100%;
        max-width: 320px;
        margin: auto;
        text-align: center;
  
        .form-group {
            position: relative;
            margin-top: 20px;
  
            input,button {
                width: 100%;
                outline: none;
                height: 40px;
                padding-left: 40px;
                border: 1px solid #d4d4d4;
            }
  
            input:focus {
                border: 1px solid #EBAE1F;
            }
  
            span {
                position: absolute;
                font-size: 20px;
                top: 5px;
                left: 10px;
            }
  
            .btn {
                background-color: #EBAE1F; 
                padding-left: 0;
                border: none;
                transition: .3s;
                color: black;
    
                &:hover {
                    cursor: pointer;
                    background-color: #F1C55F;
                }
            }
        }
  
                .link-login {
                    margin-top: 20px;

                span {
                    text-decoration: underline;
                    color: darkblue;
                    outline: none;

                    &:hover {
                    cursor: pointer;
                }
            }            
        }
    }
}
  
  .has-error {
    input {
      border: 1px solid red;
    }
    p {
      color: red;
    }
  }
  
  .success i {
    color: green;
  }
  .failure i {
    color: red;
  }
  
  button:focus, input:focus {
    box-shadow: none;
    border: none;
    outline: none;
  }
}