<header>
  <div class="container">
    <img [src]="logoUrl" alt={{title}} title={{title}}>
    <user-header-nav></user-header-nav>
    <ul class="profile">
      <li><a routerLink="/user"><i class="fas fa-user"></i></a></li>
      <span>or</span>
      <li><a (click)="logOut()" routerLink="/"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
  </div>
</header>