<section class="container">
  <form class="my-form " [formGroup]="myForm" novalidate (ngSubmit)="submit($event)">
    <div class="form-box">
      <h3 class="title"><span>Log In</span></h3>
      <div class="form-group">
        <input 
          formControlName="email"
          type="email"  
          placeholder="Email" 
          id="email" 
          class="form-control"
        >
        <span><i class="fas fa-envelope"></i></span>
      </div>
      <div class="form-group">
        <input
          formControlName="password"
          type="password" 
          placeholder="Password" 
          id="password" 
          class="password">
        <span><i class="fas fa-unlock-alt"></i></span>
      </div>
      <div class="err">{{error}}</div>
      <div class="form-group">
        <button
          [disabled]="myForm.invalid"
          type="submit"
          class="btn btn-success">
          Log In
        </button>
      </div>
    </div>
  </form>
</section>