<section class="container">
  <div class="user-form">   
    <div class="user-box" *ngFor = "let user of userInfo">
      <div class="user-info">
        <span>Your name: {{user.fullName}}</span> 
        <button class="btn-edit">Edit</button>
      </div>
      <div class="user-info">
        <span>Your email: {{user.email}}</span>
        <button class="btn-edit">Edit</button>
      </div>
      <div>
        <button class="btn-pass">Change password</button>
      </div>
      <div>
        <button class="btn-save">Save</button>
      </div>
    </div>
  </div>
</section>