.user-form {
    background-color: rgba(255, 218, 163, 0.26);
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    border-radius: 20px;

    .user-box {
        width: 100%;
        max-width: 320px;
        margin: auto;
        text-align: center;

        div {
            margin: 20px 0 20px;
        }

        .user-info {
            display:  flex;
            justify-content: space-between;
            
        }
    }
}