h2 {
    text-align: center;
}

.search {
    position: absolute;
    top: 20px;
    width: 300px;
    margin: auto;
    text-align: center;


    input {
        background-color: #ACACAC;
        width: 200px;
        height: 30px;
        text-indent: 20px;
        border-radius: 5px;
        border: none;
        transition: 0.3s;
    }
    
    input:focus {
        width: 300px;
    }

    input:focus ~ i {
        right: 6px;
    }

    i {
        position: absolute;
        right: 55px;
        top: 6px;
        font-size: 18px;
        transition: 0.3s;
    }
}

.item-list-box {
    position: relative;
    background-color: rgba(255, 218, 163, 0.26);
    margin: 30px auto;
    padding: 80px 30px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;

    .item {
        position: relative;
        background-color: white;
        max-width: 200px;
        height: 320px;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 20px;
        
        .item-img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border: none;
            height: 100%;
            max-height: 250px;
            overflow: hidden;
            outline: none;

            &:hover img {
                transform: scale(1.1,1.1);
            }
    
            &:hover {
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
                transition: .8s;
            }
        }

        .item-descr {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 20px;

            .item-title {
                text-decoration: underline;
                color: darkblue;
                outline: none;

                &:hover {
                    cursor: pointer;
                }
            }

            .item-name {
                height: 24px;
                overflow: hidden;
            }
        }

        i {
            font-size: 34px;
        }

        button {
            background: transparent;
            transition: .3s;
            border: none;
            border-radius: 50%;
            position: absolute;
            bottom: 45px;

            &:hover {
                cursor: pointer;
            }

            i {
                font-size: 18px;
            }
        }
    }
}

.paging {
    background-color: #bc2525;
}

.center-block {
    float: none;
    margin: 20px auto;
}

button:focus, input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}