<section class="container">
  <h2 class="title">Books</h2>
  <div class="title-border"></div>
  <div class="col-10 item-list-box">
    <div class="search">
      <input 
        type="text" 
        placeholder="Find book"
        [(ngModel)]="searchValue"
        (keyup)="loadBooksBySearch($event)"
      />
      <i class="fas fa-search"></i>
      <p *ngIf='searchValue.length > 0 && booksLength > 0'>{{booksLength}} results for "{{searchValue}}"</p>
      <p *ngIf='searchValue.length > 0 && booksLength === 0'>
        Sorry, your search "{{searchValue}}" did not match any results. Please try again.
      </p>
    </div>
    <div class="item" *ngFor="let book of books | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: booksLength }">
      <div class="item-img" [routerLink]="book._id"> <img src={{book.img}}></div>
      <div class="item-descr">
        <div>
          <span class="item-title" [routerLink]="book._id">{{(book.title.length>15)? (book.title | slice:0:15)+'...' : (book.title)}}</span>
        </div>
        <div class="item-name">  
          <p *ngFor="let author of book.authors">
            <span>{{(author.name.length>20)? (author.name | slice:0:17)+'...' : (author.name)}}</span>
            <span *ngIf="book.authors.length > 1"> a.o.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="center-block">
      <pagination-controls 
        (click)="loadBooks(searchValue)" 
        (pageChange)="currentPage = $event" 
        class="paging"
      >
      </pagination-controls>
    </div>
  </div>
</section>
