.item-list-box {
    background-color: rgba(255, 218, 163, 0.26);
    margin: 30px auto;
    padding: 30px 30px 20px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;

    .item {
        position: relative;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        padding: 30px;
        border-radius: 20px;
        
        .item-descr {
            display: flex;
            justify-content: space-between;
            text-align: center;

            input {
                margin-right: 20px;
            }

            .edit-btn {
                color: #7ed3b2;
            }

            .back-btn {
                color: #ef6c57;
            }
        }
        
        button {
            background: transparent;
            transition: .3s;
            border: none;
            border-radius: 50%;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
            }

            i {
                font-size: 18px;
            }
        }

        .btn-del {
            color: #ff0000;

            &:hover {
                color: #bc2525;
            }
        }

        .btn-add {
            color: #7ed3b2;

            &:hover {
                color: #66f3bd;
            }
        }
    }
}

h2 {
    text-align: center;
}

button:focus, input:focus {
    box-shadow: none;
    border: none;
    outline: none;
  }