.author-list {
    h2 {
        text-align: center;
    }
    
    .add-box-btn {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 10px auto;
        
        button {
            background: #7ed3b2;
            border: none;
            padding: 15px;
            border-radius: 50%;
            color: #f2f2f2;
            transition: .3s;
    
            &:hover {
                cursor: pointer;
                background: #b9e6d3;
            }
        }
    }
    
    .add-item {
        position: relative;
        margin: auto;
        width: 250px;
    
        input, button {
            width: 100%;
            outline: none;
            margin-top: 20px;
            height: 40px;
            padding-left: 40px;
            border: 1px solid #d4d4d4;
        }
    
        input:focus {
            border: 1px solid #EBAE1F;
        }
    
        span {
            position: absolute;
            font-size: 20px;
            top: 25px;
            left: 10px;
        }
    
        .add-btn {
            background-color: #EBAE1F; 
            padding: 8px;
            border: none;
            transition: .3s;
            color: black;
    
            &:hover {
                cursor: pointer;
                background-color: #F1C55F;
            }
        }
    }
    
    .item-list-box {
        background-color: rgba(255, 218, 163, 0.26);
        margin-top: 30px;
        padding: 30px 30px 20px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
    
        .item {
            position: relative;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            padding: 30px;
            border-radius: 20px;
            
            .item-descr {
                display: flex;
                justify-content: space-between;
                text-align: center;
    
                .route {
                    outline: none;
    
                    &:hover {
                        cursor: pointer;
                        color: #0c005a;
                    }
                }
    
                input {
                    margin-right: 20px;
                }
    
                .edit-btn {
                    color: #7ed3b2;
                }
    
                .back-btn {
                    color: #ef6c57;
                }
            }
            
    
            button {
                background: transparent;
                transition: .3s;
                border: none;
                border-radius: 50%;
                margin-right: 10px;
    
                &:hover {
                    cursor: pointer;
                }
    
                i {
                    font-size: 18px;
                }
            }
    
            .btn-del {
                color: #ff0000;
    
                &:hover {
                    color: #bc2525;
                }
            }
    
            .show-edit {
                color: #0c005a;
    
                &:hover {
                    color: #3a0088;
                }
            }
        }
    }
    
    button:focus, input:focus {
        box-shadow: none;
        border: none;
        outline: none;
    }
}