<section class="container">
  <div class="user-form"> 
    <div class="item-box">
      <div class="icon"><i class="fas fa-user"></i></div>
      <div>Your email: {{user.email}}</div>
      <div>Your name: {{user.fullName}}</div>
      <button class="btn-edit" (click)="editUser(user)"><i class="fas fa-user-edit"></i></button>
      <div class="password" (click)="showPassword()"><p>Change password</p></div>
      <div  *ngIf="togglePassword">
        <form class="my-form " [formGroup]="passwordForm">
          <div class="form-group">
            <input
              formControlName="oldPassword"
              type="password"
              class="form-control"
              placeholder="Current Password" 
            >
            <span><i class="fas fa-unlock-alt"></i></span>
          </div>
          <p *ngIf="showError">
              {{errorText}}
          </p>
          <div class="form-group">
            <input
              formControlName="newPassword"
              type="password"
              class="form-control"
              placeholder="New Password" 
            >
            <span><i class="fas fa-unlock-alt"></i></span>
          </div>
          <button [disabled]="passwordForm.invalid" class="btn btn-pass" (click)="editPass(user._id)">Edit</button>
        </form>
      </div>
      <p *ngIf="showText">
          {{dataText}}
      </p>
    </div>
  </div>
  <popup-edit-user 
    class="popup" 
    *ngIf="showPopup" 
    [user]="user" 
    [showPopup]="showPopup" 
    (closePopupEvt)="closePopup($event)"
  >
  </popup-edit-user>
</section>