<div class="popup-box">
  <form class="my-form" [formGroup]="myForm" novalidate (ngSubmit)="submit(user._id)" *ngIf="!success">
    <div class="form-box">
      <div class="form-group">
        <input
          formControlName="fullName"
          type="text"
          class="form-control"
          placeholder="Full Name" 
          [(ngModel)]="user.fullName "
        >
        <span><i class="fas fa-user"></i></span>
      </div>
      <div class="form-group">
        <input
          formControlName="email"
          type="text"
          class="form-control"
          placeholder="Email" 
          [(ngModel)]="user.email"
        >
        <span><i class="fas fa-envelope"></i></span>
      </div>
      <div class="form-group">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Password" 
          [(ngModel)]="password"
        >
        <span><i class="fas fa-unlock-alt"></i></span>
      </div>
      <div class="form-group">
        <select 
          [(ngModel)]="user.role" 
          value={{user.role}}
          formControlName="role"
        >
          <option value='1'>User</option>
          <option value='2'>Admin</option>
        </select>
        <span><i class="fas fa-crown"></i></span>
      </div>
      <div class="form-group"> 
        <select 
          [(ngModel)]="user.confirm" 
          value={{user.confirm}}
          formControlName="confirm"
        >
          <option value='true'>true</option>
          <option value='false'>false</option>
        </select>
        <span><i class="fas fa-check-square"></i></span>
      </div>
      <div class="form-group">
        <button
          [disabled]="myForm.invalid"
          type="submit"
          class="btn">
          {{btnName}}
        </button>
      </div>
    </div>
  </form>
  <div class="my-form" *ngIf="success">
    <div class="form-box">
      <div class="success">User has been {{btnName.toLowerCase()}} <i class="fas fa-check-circle"></i></div>
    </div>
  </div>
  <button class="btn-close" (click)="closePopup()"><i class="fas fa-times"></i></button>
</div>